<h1> Visits for <%= "#{@pet.name}" %> </h1>

<table id="visits">
<thead>
  <tr>
    <th>Name</th>
    <th>Appointment Date</th>
  </tr>
</thead>
<tbody>
  <% @visits.each do |visit| %>
    <tr>
    <td><%= link_to "#{visit.name}", pet_visit_path(visit.pet, visit) %></td>
    <td><%= visit.appointment %></td>
    </tr>
  <% end %>
</tbody>
</table>

