<h1> About Vet Tracker </h1>

<p> Vet Tracker is an application designed to help you keep track of your pet's appointments.</p>

<p> When scheduling an appointment, remember to add it to your Vet Tracker!  We will email you a day before to remind you of your appointment. </p>

<p> After the appointment is over, store any medical information (in .pdf or .txt form), in the archived session for future reference. </p>

<p> We hope this makes your life a little easier! </p>
